# Sets

In [4]:
a=set()

In [5]:
print(a)

set()

In [6]:
b={1,5,3,3,"abdc"}

In [7]:
print(b)

{1, 'abdc', 3, 5}

In [8]:
c=set([2,1,3,2])

In [9]:
print(c)

{1, 2, 3}

In [11]:
# print length of a set
print(len(c))

3

In [15]:
for x in c:
    print(x)

1
2
3

In [16]:
# update method
print(c.update([2,"23223",3,12,5]))

None

In [17]:
print(c)

{'23223', 1, 2, 3, 5, 12}